<launch>

  <!-- Nodelet manager para o pacote rtabmap_ros -->
  <node pkg="nodelet" type="nodelet" name="rtabmap_nodelet_manager" args="manager"/>

  <!-- Nodelet para o mapeamento e odometria visual com o RTAB-Map -->
  <node pkg="nodelet" type="nodelet" name="rtabmap" args="load rtabmap_ros/rgbd_odometry rtabmap_nodelet_manager">
    <param name="subscribe_depth" value="true"/>
    <param name="subscribe_stereo" value="false"/>
    <param name="subscribe_scan" value="false"/>
    <param name="approx_sync" value="true"/>
    <param name="frame_id" value="base_link"/>
    <param name="camera_frame_id" value="camera_link"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="config_path" value="$(find rtabmap_ros)/launch/demo_mapping_config.ini"/>
  </node>

</launch>
