<launch>
  <!-- Launch the Hector SLAM node -->
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping">
    <!-- Parametros específicos do Hector SLAM podem ser configurados aqui -->
  </node>

  <!-- Subscreve ao tópico LaserScan -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0 0 0 0 0 0 /base_link /laser 100" />

  <!-- Visualização do mapa -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find launchrs)/view/view_slam.rviz"/>
</launch>
